<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/fill_any_variable_by_1600_NaN_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #นำเข้า pandas แทนที่ด้วย pd
import os# os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as mno
import missingno as msno
from sklearn import linear_model
%matplotlib inline
import matplotlib
import sklearn 
from sklearn.impute import KNNImputer
from sklearn.metrics import mean_squared_error
import time

In [2]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_file_path = os.path.join(path,'data_notmissing.csv') #ไปที่ไฟล์ confirmed-cases-since-280265.csv
data = pd.read_csv(data_file_path) #อ่านไฟล์ csv

Mounted at /content/drive

In [3]:
data.drop({'Unnamed: 0','telomere length (kb) '},1,inplace = True)

<ipython-input-3-4cc622f169ae>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop({'Unnamed: 0','telomere length (kb) '},1,inplace = True)

In [4]:
data

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,57.0,47.4,153.0,20.2,114.0,75.0,69.0,19.3,12.5,...,1.0,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.1
1,2,24.0,53.2,157.0,21.6,103.0,69.0,78.0,21.3,14.6,...,0.8,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.4
2,2,62.0,54.4,165.0,20.0,95.0,75.0,83.0,21.6,15.2,...,0.7,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.6
3,2,35.0,56.3,161.0,21.7,95.0,57.0,72.0,22.5,15.4,...,0.6,5.0,198.0,47.0,68.0,120.0,16.0,20.0,35.0,5.1
4,1,46.0,72.3,170.0,25.0,133.0,77.0,107.0,29.2,19.0,...,0.9,6.9,194.0,63.0,60.0,122.0,15.0,19.0,69.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,60.0,72.0,170.0,24.9,131.0,74.0,69.0,30.5,13.8,...,0.9,6.9,182.0,179.0,39.0,107.0,36.0,31.0,79.0,6.5
149,1,58.0,62.0,168.0,22.0,103.0,76.0,72.0,27.8,11.9,...,1.0,6.8,191.0,62.0,47.0,132.0,16.0,33.0,42.0,6.8
150,2,42.0,55.5,165.0,20.4,102.0,52.0,77.0,22.9,14.1,...,0.8,4.7,212.0,68.0,63.0,135.0,11.0,16.0,33.0,4.8
151,2,61.0,61.8,159.0,24.4,117.0,60.0,72.0,23.4,19.2,...,0.8,5.1,235.0,66.0,56.0,166.0,15.0,23.0,44.0,5.4
152,2,31.0,58.2,169.0,20.4,108.0,69.0,73.0,25.0,13.0,...,0.7,4.3,200.0,44.0,56.0,135.0,14.0,21.0,31.0,4.7

# random NaN

In [5]:
X = data.drop(['Sex', 'AgeSYear', '002_BUN', '003_Creatinine', '005_Cholesterol', '006_Triglyceride', '008_HDL-C', '009_LDL', '010_AST'], axis=1)

In [6]:
y= data.loc[:,['Sex', 'AgeSYear', '002_BUN', '003_Creatinine', '005_Cholesterol', '006_Triglyceride', '008_HDL-C', '009_LDL', '010_AST']]

In [7]:
t_start = time.time()
for i in range(1,1601):
  globals()[f'X{i}'] = X.copy()
  np.random.seed(i)
  mask = np.zeros(153*17, dtype=bool)
  mask[:1600] = True
  np.random.shuffle(mask)
  mask = mask.reshape(153, 17)
  globals()[f'X{i}'][mask] = np.nan
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

เวลาที่ใช้ในการประมวลผล 1.6689772605895996 วินาที
เวลาที่ใช้ในการประมวลผล 0.027816287676493325 นาที

In [18]:
X101

,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,% Body fat,waist to hip radio,abdominal circumference,visceral fat area,001_Glucose,004_Uric Acid,012_ALT,013_Alkaline Phos,071_HbA1c
0,47.4,153.0,20.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,NaN,NaN,62.0,NaN
1,NaN,NaN,NaN,NaN,69.0,NaN,21.3,NaN,27.4,0.77,NaN,NaN,NaN,NaN,17.0,NaN,NaN
2,54.4,165.0,20.0,NaN,75.0,NaN,21.6,NaN,27.9,0.83,NaN,NaN,89.0,NaN,NaN,NaN,NaN
3,NaN,NaN,21.7,95.0,NaN,NaN,NaN,NaN,27.4,0.78,NaN,42.0,84.0,5.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,107.0,NaN,19.0,NaN,0.93,NaN,136.0,NaN,6.9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,NaN,NaN,24.9,NaN,NaN,69.0,NaN,NaN,NaN,0.93,NaN,NaN,NaN,6.9,NaN,NaN,6.5
149,62.0,NaN,NaN,103.0,NaN,NaN,27.8,11.9,19.2,NaN,81.3,101.0,NaN,NaN,33.0,42.0,6.8
150,NaN,NaN,20.4,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.8
151,NaN,159.0,NaN,117.0,60.0,72.0,NaN,NaN,NaN,0.84,78.5,NaN,83.0,NaN,NaN,44.0,NaN
152,58.2,NaN,NaN,108.0,NaN,73.0,NaN,13.0,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN

In [19]:
for i in range(1,1601):
  globals()[f'data_random{i}'] = y.join(globals()[f'X{i}'])

In [20]:
data_random10

,Sex,AgeSYear,002_BUN,003_Creatinine,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,Weight,...,Fat Mass,% Body fat,waist to hip radio,abdominal circumference,visceral fat area,001_Glucose,004_Uric Acid,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,57.0,15.0,1.0,176.0,51.0,72.0,94.0,16.0,NaN,...,12.5,26.4,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
1,2,24.0,12.0,0.8,159.0,45.0,52.0,98.0,13.0,NaN,...,NaN,NaN,NaN,NaN,39.0,79.0,NaN,17.0,NaN,5.4
2,2,62.0,17.0,0.7,230.0,94.0,61.0,151.0,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,35.0,10.0,0.6,198.0,47.0,68.0,120.0,16.0,NaN,...,NaN,27.4,NaN,NaN,42.0,84.0,5.0,20.0,NaN,5.1
4,1,46.0,14.0,0.9,194.0,63.0,60.0,122.0,15.0,72.3,...,NaN,NaN,0.93,91.4,NaN,78.0,6.9,19.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,60.0,14.0,0.9,182.0,179.0,39.0,107.0,36.0,NaN,...,NaN,NaN,0.93,NaN,NaN,NaN,6.9,NaN,79.0,NaN
149,1,58.0,18.0,1.0,191.0,62.0,47.0,132.0,16.0,62.0,...,NaN,NaN,0.92,NaN,101.0,NaN,6.8,33.0,42.0,6.8
150,2,42.0,9.0,0.8,212.0,68.0,63.0,135.0,11.0,NaN,...,NaN,NaN,NaN,72.5,NaN,81.0,NaN,16.0,33.0,NaN
151,2,61.0,12.0,0.8,235.0,66.0,56.0,166.0,15.0,NaN,...,NaN,NaN,0.84,NaN,NaN,NaN,5.1,23.0,NaN,NaN
152,2,31.0,12.0,0.7,200.0,44.0,56.0,135.0,14.0,NaN,...,NaN,22.3,0.72,NaN,NaN,78.0,NaN,NaN,NaN,NaN

# Imputation

## Mean

In [11]:
from sklearn.impute import SimpleImputer

In [21]:
t_start = time.time()
mean10_imputer = SimpleImputer(strategy='mean')
for i in range(1,1601):
  globals()[f'imputed_mean10_{i}'] = mean10_imputer.fit_transform(globals()[f'data_random{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MEAN10_{i}'] = mean_squared_error(data, globals()[f'imputed_mean10_{i}']) # for loop mean_squared_error
t_end = time.time()
t10_MEAN= (t_end- t_start)

In [24]:
MSE_MEAN10_1600

5042.891190224408

In [31]:
t_start = time.time()
mse_mean10_total = 0 
for i in range(1,1601):
  mse_mean10_total = mse_mean10_total + globals()[f'MSE_MEAN10_{i}']
AMSE_HeartRate10_mean = mse_mean10_total/1600
print(f'AMSE_HeartRate10_mean = {AMSE_HeartRate10_mean}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_HeartRate10_mean = 5028.328836096393
เวลาที่ใช้ในการประมวลผล 0.009467124938964844 วินาที
เวลาที่ใช้ในการประมวลผล 0.00015778541564941405 นาที

## Miss Forest

In [29]:
import sys
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
!pip install missingpy
import missingpy
from missingpy import MissForest
from sklearn.metrics import mean_squared_error

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting missingpy
  Downloading missingpy-0.2.0-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 KB 3.2 MB/s eta 0:00:00
Installing collected packages: missingpy
Successfully installed missingpy-0.2.0

In [ ]:
t_start = time.time()
MF10_imputer = MissForest()
for i in range(1,1601):
  globals()[f'imputed_mf10_{i}'] = MF10_imputer.fit_transform(globals()[f'data_random{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MF10_{i}'] = mean_squared_error(data, globals()[f'imputed_mf10_{i}']) # for loop mean_squared_error
t_end = time.time()
t10_MF= (t_end- t_start)

In [ ]:
t_start = time.time()
mse_mf10_total = 0 
for i in range(1,1601):
  mse_mf10_total = mse_mf10_total + globals()[f'MSE_MF10_{i}']
AMSE_HeartRate10_mf = mse_mf10_total/1600
print(f'AMSE_HeartRate10_mf = {AMSE_HeartRate10_mf}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')