<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [179]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import (
    r2_score, 
    mean_squared_error, 
    mean_absolute_error, 
    mean_absolute_percentage_error)

In [124]:
dataset = pd.read_csv('https://raw.githubusercontent.com/TAUTOLOGY-EDUCATION/Deep-Learning-the-Series-2nd/main/DL101/Main%20Content/Code%20-%20Advanced%20Workshop/01.%20CAR%20PRICE/Elastic%20Net/car_price_dataset.csv')

In [125]:
dataset

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [126]:
dataset.drop(['name','seller_type'],1,inplace = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [127]:
dataset

      year  selling_price  km_driven    fuel transmission         owner
0     2007          60000      70000  Petrol       Manual   First Owner
1     2007         135000      50000  Petrol       Manual   First Owner
2     2012         600000     100000  Diesel       Manual   First Owner
3     2017         250000      46000  Petrol       Manual   First Owner
4     2014         450000     141000  Diesel       Manual  Second Owner
...    ...            ...        ...     ...          ...           ...
4335  2014         409999      80000  Diesel       Manual  Second Owner
4336  2014         409999      80000  Diesel       Manual  Second Owner
4337  2009         110000      83000  Petrol       Manual  Second Owner
4338  2016         865000      90000  Diesel       Manual   First Owner
4339  2016         225000      40000  Petrol       Manual   First Owner

[4340 rows x 6 columns]

In [128]:
dataset.isna().sum()

year             0
selling_price    0
km_driven        0
fuel             0
transmission     0
owner            0
dtype: int64

In [129]:
dataset['fuel'].replace({'Petrol':1,'Diesel':2},inplace = True)
dataset['transmission'].replace({'Manual':1,'Automatic':2},inplace = True)
dataset['owner'].replace({'First Owner':1,'Second Owner':2,'Third Owner':3,'Fourth & Above Owner':4
                         ,'Test Drive Car':5},inplace = True)

In [130]:
dataset

      year  selling_price  km_driven fuel  transmission  owner
0     2007          60000      70000    1             1      1
1     2007         135000      50000    1             1      1
2     2012         600000     100000    2             1      1
3     2017         250000      46000    1             1      1
4     2014         450000     141000    2             1      2
...    ...            ...        ...  ...           ...    ...
4335  2014         409999      80000    2             1      2
4336  2014         409999      80000    2             1      2
4337  2009         110000      83000    1             1      2
4338  2016         865000      90000    2             1      1
4339  2016         225000      40000    1             1      1

[4340 rows x 6 columns]

In [131]:
dataset['fuel'] = dataset['fuel'].map({1: 'Petrol', 2: 'Diesel'})
dataset['transmission'] = dataset['transmission'].map({1: 'Manual', 2: 'Automatic'})
dataset['owner'] = dataset['owner'].map({1: 'First Owner', 2: 'Second Owner', 3: 'Third Owner',4:'Fourth & Above Owner',5:'Test Drive Car'})
dataset

      year  selling_price  km_driven    fuel transmission         owner
0     2007          60000      70000  Petrol       Manual   First Owner
1     2007         135000      50000  Petrol       Manual   First Owner
2     2012         600000     100000  Diesel       Manual   First Owner
3     2017         250000      46000  Petrol       Manual   First Owner
4     2014         450000     141000  Diesel       Manual  Second Owner
...    ...            ...        ...     ...          ...           ...
4335  2014         409999      80000  Diesel       Manual  Second Owner
4336  2014         409999      80000  Diesel       Manual  Second Owner
4337  2009         110000      83000  Petrol       Manual  Second Owner
4338  2016         865000      90000  Diesel       Manual   First Owner
4339  2016         225000      40000  Petrol       Manual   First Owner

[4340 rows x 6 columns]

In [132]:
dataset = pd.get_dummies(dataset, columns=['fuel'], prefix='', prefix_sep='')
dataset = pd.get_dummies(dataset, columns=['transmission'], prefix='', prefix_sep='')
dataset = pd.get_dummies(dataset, columns=['owner'], prefix='', prefix_sep='')
dataset.tail()

,year,selling_price,km_driven,Diesel,Petrol,Automatic,Manual,First Owner,Fourth & Above Owner,Second Owner,Test Drive Car,Third Owner
4335,2014,409999,80000,1,0,0,1,0,0,1,0,0
4336,2014,409999,80000,1,0,0,1,0,0,1,0,0
4337,2009,110000,83000,0,1,0,1,0,0,1,0,0
4338,2016,865000,90000,1,0,0,1,1,0,0,0,0
4339,2016,225000,40000,0,1,0,1,1,0,0,0,0

In [144]:
X = dataset.drop(columns=['selling_price'])
y = dataset[['selling_price']]

In [148]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8, random_state=100)

In [171]:
model = Sequential()

model.add(Dense(11, activation='relu', input_shape=(11,)))
model.add(Dense(11, activation='relu'))
model.add(keras.layers.Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])

In [174]:
model.fit(X_train,y_train, epochs=100,validation_data=(X_test, y_test))

Epoch 1/100
28/28 [==============================] - 0s 8ms/step - loss: 291216228352.0000 - accuracy: 0.0000e+00 - val_loss: 444441526272.0000 - val_accuracy: 0.0000e+00
Epoch 2/100
28/28 [==============================] - 0s 8ms/step - loss: 289942077440.0000 - accuracy: 0.0000e+00 - val_loss: 442492878848.0000 - val_accuracy: 0.0000e+00
Epoch 3/100
28/28 [==============================] - 0s 7ms/step - loss: 288245088256.0000 - accuracy: 0.0000e+00 - val_loss: 440479711232.0000 - val_accuracy: 0.0000e+00
Epoch 4/100
28/28 [==============================] - 0s 7ms/step - loss: 286823743488.0000 - accuracy: 0.0000e+00 - val_loss: 438539091968.0000 - val_accuracy: 0.0000e+00
Epoch 5/100
28/28 [==============================] - 0s 7ms/step - loss: 285495132160.0000 - accuracy: 0.0000e+00 - val_loss: 436642938880.0000 - val_accuracy: 0.0000e+00
Epoch 6/100
28/28 [==============================] - 0s 8ms/step - loss: 283779137536.0000 - accuracy: 0.0000e+00 - val_loss: 434622005248.0000 - val_accuracy: 0.0000e+00
Epoch 7/100
28/28 [==============================] - 0s 7ms/step - loss: 282548502528.0000 - accuracy: 0.0000e+00 - val_loss: 432702062592.0000 - val_accuracy: 0.0000e+00
Epoch 8/100
28/28 [==============================] - 0s 7ms/step - loss: 281037668352.0000 - accuracy: 0.0000e+00 - val_loss: 430712782848.0000 - val_accuracy: 0.0000e+00
Epoch 9/100
28/28 [==============================] - 0s 8ms/step - loss: 279414767616.0000 - accuracy: 0.0000e+00 - val_loss: 428690309120.0000 - val_accuracy: 0.0000e+00
Epoch 10/100
28/28 [==============================] - 0s 8ms/step - loss: 278052438016.0000 - accuracy: 0.0000e+00 - val_loss: 426651910144.0000 - val_accuracy: 0.0000e+00
Epoch 11/100
28/28 [==============================] - 0s 8ms/step - loss: 276512538624.0000 - accuracy: 0.0000e+00 - val_loss: 424693202944.0000 - val_accuracy: 0.0000e+00
Epoch 12/100
28/28 [==============================] - 0s 7ms/step - loss: 274816827392.0000 - accuracy: 0.0000e+00 - val_loss: 422589071360.0000 - val_accuracy: 0.0000e+00
Epoch 13/100
28/28 [==============================] - 0s 8ms/step - loss: 273150476288.0000 - accuracy: 0.0000e+00 - val_loss: 420669095936.0000 - val_accuracy: 0.0000e+00
Epoch 14/100
28/28 [==============================] - 0s 8ms/step - loss: 271839805440.0000 - accuracy: 0.0000e+00 - val_loss: 418694692864.0000 - val_accuracy: 0.0000e+00
Epoch 15/100
28/28 [==============================] - 0s 8ms/step - loss: 270282883072.0000 - accuracy: 0.0000e+00 - val_loss: 416514441216.0000 - val_accuracy: 0.0000e+00
Epoch 16/100
28/28 [==============================] - 0s 7ms/step - loss: 269313359872.0000 - accuracy: 0.0000e+00 - val_loss: 414425415680.0000 - val_accuracy: 0.0000e+00
Epoch 17/100
28/28 [==============================] - 0s 7ms/step - loss: 267497652224.0000 - accuracy: 0.0000e+00 - val_loss: 412422963200.0000 - val_accuracy: 0.0000e+00
Epoch 18/100
28/28 [==============================] - 0s 8ms/step - loss: 266022027264.0000 - accuracy: 0.0000e+00 - val_loss: 410520616960.0000 - val_accuracy: 0.0000e+00
Epoch 19/100
28/28 [==============================] - 0s 8ms/step - loss: 264482684928.0000 - accuracy: 0.0000e+00 - val_loss: 408497651712.0000 - val_accuracy: 0.0000e+00
Epoch 20/100
28/28 [==============================] - 0s 7ms/step - loss: 263715061760.0000 - accuracy: 0.0000e+00 - val_loss: 406628728832.0000 - val_accuracy: 0.0000e+00
Epoch 21/100
28/28 [==============================] - 0s 8ms/step - loss: 261997346816.0000 - accuracy: 0.0000e+00 - val_loss: 404865581056.0000 - val_accuracy: 0.0000e+00
Epoch 22/100
28/28 [==============================] - 0s 7ms/step - loss: 260985683968.0000 - accuracy: 0.0000e+00 - val_loss: 402803228672.0000 - val_accuracy: 0.0000e+00
Epoch 23/100
28/28 [==============================] - 0s 7ms/step - loss: 259718971392.0000 - accuracy: 0.0000e+00 - val_loss: 400996368384.0000 - val_accuracy: 0.0000e+00
Epoch 24/100
28/28 [==============================] - 0s 8ms/step - loss: 257973600256.0000 - accuracy: 0.0000e+00 - val_loss: 399142256640.0000 - val_accuracy: 0.0000e+00
Epoch 25/100
28/28 [==============================] - 0s 7ms/step - loss: 256742932480.0000 - accuracy: 0.0000e+00 - val_loss: 397421936640.0000 - val_accuracy: 0.0000e+00
Epoch 26/100
28/28 [==============================] - 0s 8ms/step - loss: 255446269952.0000 - accuracy: 0.0000e+00 - val_loss: 395653349376.0000 - val_accuracy: 0.0000e+00
Epoch 27/100
28/28 [==============================] - 0s 8ms/step - loss: 254306975744.0000 - accuracy: 0.0000e+00 - val_loss: 394070589440.0000 - val_accuracy: 0.0000e+00
Epoch 28/100
28/28 [==============================] - 0s 6ms/step - loss: 253698752512.0000 - accuracy: 0.0000e+00 - val_loss: 392418623488.0000 - val_accuracy: 0.0000e+00
Epoch 29/100
28/28 [==============================] - 0s 8ms/step - loss: 252884287488.0000 - accuracy: 0.0000e+00 - val_loss: 390790971392.0000 - val_accuracy: 0.0000e+00
Epoch 30/100
28/28 [==============================] - 0s 7ms/step - loss: 251425554432.0000 - accuracy: 0.0000e+00 - val_loss: 389355962368.0000 - val_accuracy: 0.0000e+00
Epoch 31/100
28/28 [==============================] - 0s 8ms/step - loss: 250409205760.0000 - accuracy: 0.0000e+00 - val_loss: 387492413440.0000 - val_accuracy: 0.0000e+00
Epoch 32/100
28/28 [==============================] - 0s 8ms/step - loss: 249078661120.0000 - accuracy: 0.0000e+00 - val_loss: 385978826752.0000 - val_accuracy: 0.0000e+00
Epoch 33/100
28/28 [==============================] - 0s 7ms/step - loss: 248614502400.0000 - accuracy: 0.0000e+00 - val_loss: 384343638016.0000 - val_accuracy: 0.0000e+00
Epoch 34/100
28/28 [==============================] - 0s 8ms/step - loss: 249072975872.0000 - accuracy: 0.0000e+00 - val_loss: 382983340032.0000 - val_accuracy: 0.0000e+00
Epoch 35/100
28/28 [==============================] - 0s 6ms/step - loss: 246866640896.0000 - accuracy: 0.0000e+00 - val_loss: 381664526336.0000 - val_accuracy: 0.0000e+00
Epoch 36/100
28/28 [==============================] - 0s 8ms/step - loss: 245847490560.0000 - accuracy: 0.0000e+00 - val_loss: 380558376960.0000 - val_accuracy: 0.0000e+00
Epoch 37/100
28/28 [==============================] - 0s 8ms/step - loss: 247543955456.0000 - accuracy: 0.0000e+00 - val_loss: 379759132672.0000 - val_accuracy: 0.0000e+00
Epoch 38/100
28/28 [==============================] - 0s 7ms/step - loss: 244378566656.0000 - accuracy: 0.0000e+00 - val_loss: 378194493440.0000 - val_accuracy: 0.0000e+00
Epoch 39/100
28/28 [==============================] - 0s 6ms/step - loss: 244064960512.0000 - accuracy: 0.0000e+00 - val_loss: 377149259776.0000 - val_accuracy: 0.0000e+00
Epoch 40/100
28/28 [==============================] - 0s 7ms/step - loss: 243174801408.0000 - accuracy: 0.0000e+00 - val_loss: 375955750912.0000 - val_accuracy: 0.0000e+00
Epoch 41/100
28/28 [==============================] - 0s 8ms/step - loss: 242373623808.0000 - accuracy: 0.0000e+00 - val_loss: 374955311104.0000 - val_accuracy: 0.0000e+00
Epoch 42/100
28/28 [==============================] - 0s 8ms/step - loss: 242014584832.0000 - accuracy: 0.0000e+00 - val_loss: 373937274880.0000 - val_accuracy: 0.0000e+00
Epoch 43/100
28/28 [==============================] - 0s 7ms/step - loss: 241327112192.0000 - accuracy: 0.0000e+00 - val_loss: 373002010624.0000 - val_accuracy: 0.0000e+00
Epoch 44/100
28/28 [==============================] - 0s 6ms/step - loss: 241281777664.0000 - accuracy: 0.0000e+00 - val_loss: 372274036736.0000 - val_accuracy: 0.0000e+00
Epoch 45/100
28/28 [==============================] - 0s 7ms/step - loss: 240623255552.0000 - accuracy: 0.0000e+00 - val_loss: 371398606848.0000 - val_accuracy: 0.0000e+00
Epoch 46/100
28/28 [==============================] - 0s 8ms/step - loss: 240510238720.0000 - accuracy: 0.0000e+00 - val_loss: 371200786432.0000 - val_accuracy: 0.0000e+00
Epoch 47/100
28/28 [==============================] - 0s 7ms/step - loss: 240144056320.0000 - accuracy: 0.0000e+00 - val_loss: 369704796160.0000 - val_accuracy: 0.0000e+00
Epoch 48/100
28/28 [==============================] - 0s 7ms/step - loss: 239190228992.0000 - accuracy: 0.0000e+00 - val_loss: 369043668992.0000 - val_accuracy: 0.0000e+00
Epoch 49/100
28/28 [==============================] - 0s 7ms/step - loss: 239309438976.0000 - accuracy: 0.0000e+00 - val_loss: 368278437888.0000 - val_accuracy: 0.0000e+00
Epoch 50/100
28/28 [==============================] - 0s 7ms/step - loss: 239358132224.0000 - accuracy: 0.0000e+00 - val_loss: 367527067648.0000 - val_accuracy: 0.0000e+00
Epoch 51/100
28/28 [==============================] - 0s 8ms/step - loss: 238136770560.0000 - accuracy: 0.0000e+00 - val_loss: 367000813568.0000 - val_accuracy: 0.0000e+00
Epoch 52/100
28/28 [==============================] - 0s 7ms/step - loss: 237971292160.0000 - accuracy: 0.0000e+00 - val_loss: 366385364992.0000 - val_accuracy: 0.0000e+00
Epoch 53/100
28/28 [==============================] - 0s 7ms/step - loss: 237358071808.0000 - accuracy: 0.0000e+00 - val_loss: 365598277632.0000 - val_accuracy: 0.0000e+00
Epoch 54/100
28/28 [==============================] - 0s 7ms/step - loss: 237835632640.0000 - accuracy: 0.0000e+00 - val_loss: 365049937920.0000 - val_accuracy: 0.0000e+00
Epoch 55/100
28/28 [==============================] - 0s 8ms/step - loss: 236859359232.0000 - accuracy: 0.0000e+00 - val_loss: 364405424128.0000 - val_accuracy: 0.0000e+00
Epoch 56/100
28/28 [==============================] - 0s 8ms/step - loss: 237040451584.0000 - accuracy: 0.0000e+00 - val_loss: 363853053952.0000 - val_accuracy: 0.0000e+00
Epoch 57/100
28/28 [==============================] - 0s 6ms/step - loss: 236426854400.0000 - accuracy: 0.0000e+00 - val_loss: 363327881216.0000 - val_accuracy: 0.0000e+00
Epoch 58/100
28/28 [==============================] - 0s 8ms/step - loss: 236455215104.0000 - accuracy: 0.0000e+00 - val_loss: 362652991488.0000 - val_accuracy: 0.0000e+00
Epoch 59/100
28/28 [==============================] - 0s 7ms/step - loss: 236016435200.0000 - accuracy: 0.0000e+00 - val_loss: 362280943616.0000 - val_accuracy: 0.0000e+00
Epoch 60/100
28/28 [==============================] - 0s 6ms/step - loss: 235908743168.0000 - accuracy: 0.0000e+00 - val_loss: 361568567296.0000 - val_accuracy: 0.0000e+00
Epoch 61/100
28/28 [==============================] - 0s 8ms/step - loss: 235567824896.0000 - accuracy: 0.0000e+00 - val_loss: 361113944064.0000 - val_accuracy: 0.0000e+00
Epoch 62/100
28/28 [==============================] - 0s 7ms/step - loss: 235389419520.0000 - accuracy: 0.0000e+00 - val_loss: 360583397376.0000 - val_accuracy: 0.0000e+00
Epoch 63/100
28/28 [==============================] - 0s 8ms/step - loss: 235335385088.0000 - accuracy: 0.0000e+00 - val_loss: 360427814912.0000 - val_accuracy: 0.0000e+00
Epoch 64/100
28/28 [==============================] - 0s 7ms/step - loss: 234738548736.0000 - accuracy: 0.0000e+00 - val_loss: 359646920704.0000 - val_accuracy: 0.0000e+00
Epoch 65/100
28/28 [==============================] - 0s 7ms/step - loss: 234687660032.0000 - accuracy: 0.0000e+00 - val_loss: 359169359872.0000 - val_accuracy: 0.0000e+00
Epoch 66/100
28/28 [==============================] - 0s 8ms/step - loss: 234346659840.0000 - accuracy: 0.0000e+00 - val_loss: 358732988416.0000 - val_accuracy: 0.0000e+00
Epoch 67/100
28/28 [==============================] - 0s 8ms/step - loss: 234531848192.0000 - accuracy: 0.0000e+00 - val_loss: 358600212480.0000 - val_accuracy: 0.0000e+00
Epoch 68/100
28/28 [==============================] - 0s 6ms/step - loss: 234312777728.0000 - accuracy: 0.0000e+00 - val_loss: 358114689024.0000 - val_accuracy: 0.0000e+00
Epoch 69/100
28/28 [==============================] - 0s 7ms/step - loss: 233969123328.0000 - accuracy: 0.0000e+00 - val_loss: 357538758656.0000 - val_accuracy: 0.0000e+00
Epoch 70/100
28/28 [==============================] - 0s 6ms/step - loss: 233848832000.0000 - accuracy: 0.0000e+00 - val_loss: 357173952512.0000 - val_accuracy: 0.0000e+00
Epoch 71/100
28/28 [==============================] - 0s 8ms/step - loss: 233756917760.0000 - accuracy: 0.0000e+00 - val_loss: 356638425088.0000 - val_accuracy: 0.0000e+00
Epoch 72/100
28/28 [==============================] - 0s 6ms/step - loss: 233637462016.0000 - accuracy: 0.0000e+00 - val_loss: 356312711168.0000 - val_accuracy: 0.0000e+00
Epoch 73/100
28/28 [==============================] - 0s 7ms/step - loss: 233303130112.0000 - accuracy: 0.0000e+00 - val_loss: 355988504576.0000 - val_accuracy: 0.0000e+00
Epoch 74/100
28/28 [==============================] - 0s 7ms/step - loss: 233241722880.0000 - accuracy: 0.0000e+00 - val_loss: 355600826368.0000 - val_accuracy: 0.0000e+00
Epoch 75/100
28/28 [==============================] - 0s 8ms/step - loss: 233595994112.0000 - accuracy: 0.0000e+00 - val_loss: 355331670016.0000 - val_accuracy: 0.0000e+00
Epoch 76/100
28/28 [==============================] - 0s 7ms/step - loss: 232979251200.0000 - accuracy: 0.0000e+00 - val_loss: 354921742336.0000 - val_accuracy: 0.0000e+00
Epoch 77/100
28/28 [==============================] - 0s 6ms/step - loss: 232783855616.0000 - accuracy: 0.0000e+00 - val_loss: 354742796288.0000 - val_accuracy: 0.0000e+00
Epoch 78/100
28/28 [==============================] - 0s 7ms/step - loss: 232765456384.0000 - accuracy: 0.0000e+00 - val_loss: 354351742976.0000 - val_accuracy: 0.0000e+00
Epoch 79/100
28/28 [==============================] - 0s 8ms/step - loss: 233421684736.0000 - accuracy: 0.0000e+00 - val_loss: 354043756544.0000 - val_accuracy: 0.0000e+00
Epoch 80/100
28/28 [==============================] - 0s 7ms/step - loss: 232464744448.0000 - accuracy: 0.0000e+00 - val_loss: 353950662656.0000 - val_accuracy: 0.0000e+00
Epoch 81/100
28/28 [==============================] - 0s 8ms/step - loss: 232307965952.0000 - accuracy: 0.0000e+00 - val_loss: 353410088960.0000 - val_accuracy: 0.0000e+00
Epoch 82/100
28/28 [==============================] - 0s 8ms/step - loss: 232390148096.0000 - accuracy: 0.0000e+00 - val_loss: 353132707840.0000 - val_accuracy: 0.0000e+00
Epoch 83/100
28/28 [==============================] - 0s 7ms/step - loss: 232124825600.0000 - accuracy: 0.0000e+00 - val_loss: 352860045312.0000 - val_accuracy: 0.0000e+00
Epoch 84/100
28/28 [==============================] - 0s 6ms/step - loss: 233098215424.0000 - accuracy: 0.0000e+00 - val_loss: 352636731392.0000 - val_accuracy: 0.0000e+00
Epoch 85/100
28/28 [==============================] - 0s 8ms/step - loss: 232376958976.0000 - accuracy: 0.0000e+00 - val_loss: 352382189568.0000 - val_accuracy: 0.0000e+00
Epoch 86/100
28/28 [==============================] - 0s 7ms/step - loss: 232495529984.0000 - accuracy: 0.0000e+00 - val_loss: 352183418880.0000 - val_accuracy: 0.0000e+00
Epoch 87/100
28/28 [==============================] - 0s 8ms/step - loss: 232228864000.0000 - accuracy: 0.0000e+00 - val_loss: 351993102336.0000 - val_accuracy: 0.0000e+00
Epoch 88/100
28/28 [==============================] - 0s 8ms/step - loss: 232175484928.0000 - accuracy: 0.0000e+00 - val_loss: 351751110656.0000 - val_accuracy: 0.0000e+00
Epoch 89/100
28/28 [==============================] - 0s 8ms/step - loss: 231967703040.0000 - accuracy: 0.0000e+00 - val_loss: 352075120640.0000 - val_accuracy: 0.0000e+00
Epoch 90/100
28/28 [==============================] - 0s 8ms/step - loss: 232049180672.0000 - accuracy: 0.0000e+00 - val_loss: 351319883776.0000 - val_accuracy: 0.0000e+00
Epoch 91/100
28/28 [==============================] - 0s 9ms/step - loss: 232432631808.0000 - accuracy: 0.0000e+00 - val_loss: 351177441280.0000 - val_accuracy: 0.0000e+00
Epoch 92/100
28/28 [==============================] - 0s 7ms/step - loss: 231517487104.0000 - accuracy: 0.0000e+00 - val_loss: 351004065792.0000 - val_accuracy: 0.0000e+00
Epoch 93/100
28/28 [==============================] - 0s 8ms/step - loss: 232170323968.0000 - accuracy: 0.0000e+00 - val_loss: 350819745792.0000 - val_accuracy: 0.0000e+00
Epoch 94/100
28/28 [==============================] - 0s 7ms/step - loss: 232643657728.0000 - accuracy: 0.0000e+00 - val_loss: 350768529408.0000 - val_accuracy: 0.0000e+00
Epoch 95/100
28/28 [==============================] - 0s 7ms/step - loss: 232140210176.0000 - accuracy: 0.0000e+00 - val_loss: 350513692672.0000 - val_accuracy: 0.0000e+00
Epoch 96/100
28/28 [==============================] - 0s 7ms/step - loss: 231667089408.0000 - accuracy: 0.0000e+00 - val_loss: 350337990656.0000 - val_accuracy: 0.0000e+00
Epoch 97/100
28/28 [==============================] - 0s 8ms/step - loss: 231437746176.0000 - accuracy: 0.0000e+00 - val_loss: 350070439936.0000 - val_accuracy: 0.0000e+00
Epoch 98/100
28/28 [==============================] - 0s 8ms/step - loss: 231376764928.0000 - accuracy: 0.0000e+00 - val_loss: 349923737600.0000 - val_accuracy: 0.0000e+00
Epoch 99/100
28/28 [==============================] - 0s 7ms/step - loss: 231136821248.0000 - accuracy: 0.0000e+00 - val_loss: 349958504448.0000 - val_accuracy: 0.0000e+00
Epoch 100/100
28/28 [==============================] - 0s 7ms/step - loss: 232050950144.0000 - accuracy: 0.0000e+00 - val_loss: 349606117376.0000 - val_accuracy: 0.0000e+00

In [175]:
score = model.evaluate(X_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Test loss: 349606117376.0
Test accuracy: 0.0

In [183]:
y_pred = model.predict(X_test)
print(y_pred)

[[505038.94]
 [492143.78]
 [517830.47]
 ...
 [504538.12]
 [546072.8 ]
 [456397.88]]