<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd #นำเข้า pandas แทนที่ด้วย pd
import os# os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as mno
import missingno as msno
from sklearn import linear_model
%matplotlib inline
import matplotlib
import sklearn 
from sklearn.impute import KNNImputer
from sklearn.metrics import mean_squared_error
import time

In [34]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_file_path = os.path.join(path,'data_notmissing.csv') #ไปที่ไฟล์ confirmed-cases-since-280265.csv
data = pd.read_csv(data_file_path) #อ่านไฟล์ csv

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
data.drop({'Unnamed: 0','telomere length (kb) '},1,inplace = True)

<ipython-input-35-4cc622f169ae>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop({'Unnamed: 0','telomere length (kb) '},1,inplace = True)

In [36]:
data

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,57.0,47.4,153.0,20.2,114.0,75.0,69.0,19.3,12.5,...,1.0,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.1
1,2,24.0,53.2,157.0,21.6,103.0,69.0,78.0,21.3,14.6,...,0.8,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.4
2,2,62.0,54.4,165.0,20.0,95.0,75.0,83.0,21.6,15.2,...,0.7,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.6
3,2,35.0,56.3,161.0,21.7,95.0,57.0,72.0,22.5,15.4,...,0.6,5.0,198.0,47.0,68.0,120.0,16.0,20.0,35.0,5.1
4,1,46.0,72.3,170.0,25.0,133.0,77.0,107.0,29.2,19.0,...,0.9,6.9,194.0,63.0,60.0,122.0,15.0,19.0,69.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,60.0,72.0,170.0,24.9,131.0,74.0,69.0,30.5,13.8,...,0.9,6.9,182.0,179.0,39.0,107.0,36.0,31.0,79.0,6.5
149,1,58.0,62.0,168.0,22.0,103.0,76.0,72.0,27.8,11.9,...,1.0,6.8,191.0,62.0,47.0,132.0,16.0,33.0,42.0,6.8
150,2,42.0,55.5,165.0,20.4,102.0,52.0,77.0,22.9,14.1,...,0.8,4.7,212.0,68.0,63.0,135.0,11.0,16.0,33.0,4.8
151,2,61.0,61.8,159.0,24.4,117.0,60.0,72.0,23.4,19.2,...,0.8,5.1,235.0,66.0,56.0,166.0,15.0,23.0,44.0,5.4
152,2,31.0,58.2,169.0,20.4,108.0,69.0,73.0,25.0,13.0,...,0.7,4.3,200.0,44.0,56.0,135.0,14.0,21.0,31.0,4.7

# random NaN

In [37]:
X = data.drop(['Sex', 'AgeSYear', '002_BUN', '003_Creatinine', '005_Cholesterol', '006_Triglyceride', '008_HDL-C', '009_LDL', '010_AST'], axis=1)

In [38]:
y= data.loc[:,['Sex', 'AgeSYear', '002_BUN', '003_Creatinine', '005_Cholesterol', '006_Triglyceride', '008_HDL-C', '009_LDL', '010_AST']]

In [39]:
t_start = time.time()
for i in range(1,101):
  globals()[f'X{i}'] = X.copy()
  np.random.seed(i)
  mask = np.zeros(153*17, dtype=bool)
  mask[:100] = True
  np.random.shuffle(mask)
  mask = mask.reshape(153, 17)
  globals()[f'X{i}'][mask] = np.nan
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

เวลาที่ใช้ในการประมวลผล 0.10962986946105957 วินาที
เวลาที่ใช้ในการประมวลผล 0.0018271644910176595 นาที

In [40]:
X100

,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,% Body fat,waist to hip radio,abdominal circumference,visceral fat area,001_Glucose,004_Uric Acid,012_ALT,013_Alkaline Phos,071_HbA1c
0,47.4,153.0,20.2,114.0,75.0,69.0,19.3,12.5,26.4,0.80,70.6,43.0,81.0,5.0,NaN,62.0,5.1
1,53.2,157.0,21.6,103.0,69.0,78.0,21.3,14.6,27.4,0.77,73.8,39.0,79.0,5.2,17.0,50.0,5.4
2,54.4,165.0,20.0,95.0,75.0,83.0,21.6,15.2,27.9,0.83,73.8,7.0,89.0,4.1,31.0,76.0,5.6
3,56.3,161.0,21.7,95.0,57.0,72.0,22.5,15.4,27.4,0.78,74.0,42.0,84.0,5.0,20.0,35.0,5.1
4,NaN,170.0,25.0,133.0,77.0,107.0,29.2,19.0,26.4,0.93,91.4,136.0,78.0,6.9,19.0,69.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,72.0,170.0,24.9,131.0,74.0,69.0,30.5,13.8,20.1,0.93,84.0,109.0,92.0,6.9,31.0,79.0,6.5
149,62.0,168.0,22.0,103.0,76.0,72.0,27.8,11.9,19.2,0.92,81.3,NaN,102.0,6.8,33.0,42.0,NaN
150,55.5,165.0,20.4,102.0,52.0,77.0,22.9,14.1,25.4,0.77,72.5,37.0,81.0,4.7,16.0,33.0,4.8
151,NaN,159.0,24.4,117.0,60.0,72.0,23.4,19.2,31.1,0.84,78.5,72.0,83.0,5.1,23.0,44.0,5.4
152,58.2,169.0,20.4,108.0,69.0,73.0,25.0,13.0,22.3,NaN,71.2,28.0,78.0,4.3,NaN,31.0,4.7

In [41]:
for i in range(1,101):
  globals()[f'data_random{i}'] = y.join(globals()[f'X{i}'])

In [42]:
data_random10

,Sex,AgeSYear,002_BUN,003_Creatinine,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,Weight,...,Fat Mass,% Body fat,waist to hip radio,abdominal circumference,visceral fat area,001_Glucose,004_Uric Acid,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,57.0,15.0,1.0,176.0,51.0,72.0,94.0,16.0,47.4,...,12.5,26.4,0.80,70.6,43.0,81.0,5.0,16.0,62.0,5.1
1,2,24.0,12.0,0.8,159.0,45.0,52.0,98.0,13.0,53.2,...,14.6,NaN,0.77,73.8,39.0,79.0,5.2,17.0,NaN,5.4
2,2,62.0,17.0,0.7,230.0,94.0,61.0,151.0,18.0,54.4,...,15.2,27.9,0.83,73.8,7.0,89.0,4.1,31.0,76.0,5.6
3,2,35.0,10.0,0.6,198.0,47.0,68.0,120.0,16.0,56.3,...,NaN,27.4,0.78,74.0,42.0,84.0,5.0,20.0,35.0,5.1
4,1,46.0,14.0,0.9,194.0,63.0,60.0,122.0,15.0,72.3,...,19.0,26.4,0.93,91.4,136.0,78.0,6.9,19.0,69.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,60.0,14.0,0.9,182.0,179.0,39.0,107.0,36.0,72.0,...,13.8,20.1,0.93,84.0,109.0,92.0,6.9,31.0,79.0,6.5
149,1,58.0,18.0,1.0,191.0,62.0,47.0,132.0,16.0,62.0,...,11.9,19.2,0.92,81.3,101.0,102.0,6.8,33.0,42.0,6.8
150,2,42.0,9.0,0.8,212.0,68.0,63.0,135.0,11.0,NaN,...,14.1,25.4,0.77,72.5,37.0,81.0,4.7,16.0,33.0,NaN
151,2,61.0,12.0,0.8,235.0,66.0,56.0,166.0,15.0,61.8,...,NaN,NaN,0.84,78.5,72.0,83.0,5.1,23.0,44.0,5.4
152,2,31.0,12.0,0.7,200.0,44.0,56.0,135.0,14.0,58.2,...,13.0,22.3,0.72,71.2,28.0,78.0,4.3,21.0,31.0,4.7